<a href="https://colab.research.google.com/github/normal-Fag/Normrep/blob/main/teStIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# import packages

In [2]:
import pandas as pd
import numpy as np
from IPython.display import display

# import data

In [21]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/glass/glass.data', header=None)

names = ['ID', 'RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Class']
data.columns = names

data = data.drop(columns='ID')

data['Class'].replace(
                      {
                          1:'building_windows_float_processed',
                          2:'building_windows_non_float_processed',
                          3:'vehicle_windows_float_processed',
                          4:'vehicle_windows_non_float_processed',
                          5:'containers',
                          6:'tableware',
                          7:'headlamps'
                      }, inplace = True)

In [24]:
for col in data.columns:
  fr = np.random.randint(5, 10) / 100 
  data.loc[data.sample(frac=fr).index, col] = np.nan

# Data Vizualization

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      183 non-null    float64
 1   Na      177 non-null    float64
 2   Mg      184 non-null    float64
 3   Al      188 non-null    float64
 4   Si      183 non-null    float64
 5   K       190 non-null    float64
 6   Ca      190 non-null    float64
 7   Ba      182 non-null    float64
 8   Fe      180 non-null    float64
 9   Class   183 non-null    object
dtypes: float64(9), object(1)
memory usage: 16.8+ KB

In [25]:
data.describe()

               RI          Na          Mg  ...          Ca          Ba          Fe
count  183.000000  177.000000  184.000000  ...  190.000000  182.000000  180.000000
mean     1.518401   13.423672    2.663533  ...    8.934000    0.172857    0.062667
std      0.003136    0.837631    1.445632  ...    1.467342    0.507388    0.102965
min      1.511150   10.730000    0.000000  ...    5.430000    0.000000    0.000000
25%      1.516515   12.930000    2.037500  ...    8.210000    0.000000    0.000000
50%      1.517680   13.300000    3.480000  ...    8.585000    0.000000    0.000000
75%      1.519070   13.830000    3.600000  ...    9.140000    0.000000    0.110000
max      1.533930   17.380000    4.490000  ...   16.190000    3.150000    0.510000

[8 rows x 9 columns]

In [33]:
display(data['Class'].describe())
print('\n==============================================\n')
display(data['Class'].value_counts())

count                                      183
unique                                       6
top       building_windows_non_float_processed
freq                                        69
Name: Class, dtype: object

==============================================

building_windows_non_float_processed    69
building_windows_float_processed        56
headlamps                               27
vehicle_windows_float_processed         14
containers                               9
tableware                                8
Name: Class, dtype: int64